/*Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
*/

/*
COLORS

PRIMARY
*/

$Soft-orange: hsl(35, 77%, 62%);
$Soft-red: hsl(5, 85%, 63%);

//Neutral

$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayish-blue: hsl(236, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%);

/*
Typography

Body Copy
*/

$Font-size: 15px;  /*paragraph*/

.container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 1.5fr 1.2fr 1fr;
    grid-template-areas:
            "nav nav nav"
            "main main new"
            "main main new"
            "content1 content2 content3";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

nav{
    grid-area: nav;
    background-color: $Soft-orange;
}

main{
    grid-area: main;
    background-color: $Soft-red;
}

.new{
    grid-area: new;
    background-color: $Off-white;
}

.content1{
    grid-area: content1;
    background-color: $Grayish-blue;
}

.content2{
    grid-area: content2;
    background-color: $Dark-grayish-blue;
}

.content3{
    grid-area: content3;
    background-color: $Very-dark-blue;
}



